<div class="jumbo">
    <div class="right tomster"></div>
    <h2>About super rentals!</h2>
    <p>
        Delightful project by me!
    </p>
    <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</div>